/* Contenedor general para la sección "Nosotros" */
.howWeWork {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background: linear-gradient(180deg, #1a1826, #413b5e);
}

/* Contenedor del contenido principal */
.content-container {
  display: flex;
  flex-direction: row; /* Alinea el texto y el carrusel en fila */
  align-items: stretch; /* Asegura que ambos elementos tengan la misma altura */
}

/* Contenedor de texto */
.text-container {
  flex: 1; /* Ocupa el 50% del espacio disponible */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  padding: 0 20px; /* Espaciado horizontal */
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
  height: 100%; /* Asegura que la altura sea la misma que el carrusel */
  color: #504a4a; /* Color del texto */
}

/* Contenedor del carrusel */
.carousel-container {
  flex: 1; /* Ocupa el 50% del espacio disponible */
  display: flex;
  align-items: center; /* Centra el carrusel verticalmente */
}

/* Estilos para el carrusel */
.carousel .carousel-slider {
  width: 100%;
  height: 100%; /* Asegura que el carrusel ocupe el 100% de la altura disponible */
}

.carousel .carousel-slider .slide img {
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  width: 100%;
  height: 100%; /* Mantiene la relación de aspecto de la imagen */
}

.professional-container {
  display: flex;
  flex-direction: row; /* Dirección por defecto */
  align-items: center;
  margin-bottom: 2rem;
}

/* Contenedor redondo blanco para la imagen del profesional */
.professional-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 1rem; /* Espaciado entre imagen y texto */
}



.professional-image {
  width: 60%; /* Ajusta la imagen al tamaño del contenedor */
  height: 60%; /* Ajusta la imagen al tamaño del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}

.professional-info-container {
  flex: 1;
  padding: 1rem;
  text-align: center; /* Centra el texto dentro del contenedor */
}

.professional-info-container h3 {
  font-size: 2.6rem;
  font-weight: bold;
  color: white;
}

.professional-info-container p {
  font-size: 1.4rem; /* Reduce el tamaño del texto */
  margin: 0.5rem 0;
  color: white;
}

.professional-container.flex-row-reverse {
  flex-direction: row-reverse;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 640px) {
  .content-container {
    flex-direction: column; /* Cambia la dirección del flex a columna en pantallas móviles */
   
  }

  .text-container, .carousel-container {
    flex: none; /* Permite que el texto y el carrusel ocupen el espacio completo en pantallas móviles */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .carousel-image {
    max-height: 100px; /* Tamaño menor para pantallas pequeñas */
    width: 100%;
    height: auto;
  }

  .text-container {
    font-size: 1.5rem; /* Tamaño de fuente mayor para pantallas pequeñas */
  }

  .professional-container {
    flex-direction: column; /* Cambia la dirección a columna en pantallas móviles */
    align-items: center;
    text-align: center; /* Centra el texto */
  }

  .professional-image-wrapper {
    width: 300px; /* Ajusta el tamaño a tu preferencia */
    height: 300px; /* Ajusta el tamaño a tu preferencia */
  }

  .professional-image {
    width: 100%;
    height: 100%; /* Asegura que la imagen llene el contenedor */
    object-fit: cover;
  }

  .professional-info-container {
    font-size: calc(0.5rem + 1vw); /* Tamaño proporcional basado en el ancho del viewport */
    margin-top: 1rem; /* Añade espacio entre la imagen y el texto */
  }

  .professional-info-container h3 {
    font-size: calc(1.5rem + 2vw); /* Ajusta el tamaño de fuente del título */
  }

  .professional-info-container p {
    font-size: calc(1rem + 1vw); /* Ajusta el tamaño de fuente del texto */
  }
}
