/* Contenedor general para la sección "Nosotros" */
.howWeWork {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background: linear-gradient(180deg, #1a1826, #413b5e);
}

/* Contenedor del contenido principal */
.content-container {
  display: flex;
  flex-direction: row; /* Alinea el texto y el carrusel en fila */
  align-items: stretch; /* Asegura que ambos elementos tengan la misma altura */
}

/* Contenedor de texto */
.text-container {
  flex: 1; /* Ocupa el 50% del espacio disponible */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  padding: 0 20px; /* Espaciado horizontal */
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
  height: 100%; /* Asegura que la altura sea la misma que el carrusel */
  color: #504a4a; /* Color del texto */
}

/* Contenedor del carrusel */
.carousel-container {
  flex: 1; /* Ocupa el 50% del espacio disponible */
  display: flex;
  align-items: center; /* Centra el carrusel verticalmente */
}

/* Estilos para el carrusel */
.carousel .carousel-slider {
  width: 100%;
  height: 100%; /* Asegura que el carrusel ocupe el 100% de la altura disponible */
}

.carousel .carousel-slider .slide img {
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  width: 100%;
  height: 100%; /* Mantiene la relación de aspecto de la imagen */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 640px) {
  .content-container {
    flex-direction: column; /* Cambia la dirección del flex a columna en pantallas móviles */
  }

  .text-container, .carousel-container {
    flex: none; /* Permite que el texto y el carrusel ocupen el espacio completo en pantallas móviles */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .carousel-image {
    max-height: 100px; /* Tamaño menor para pantallas pequeñas */
    width: 100%;
    height: auto;
  }

  .text-container {
    font-size: 1.5rem; /* Tamaño de fuente mayor para pantallas pequeñas */
  }
}
@font-face {
  font-family: 'Demo Regular';
  src: url('../assets/fonts/Daily Challenge DEMO.otf') format('truetype');
}

body {
  font-family: 'Demo Regular', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Demo Regular', Arial, sans-serif;
}
