/* Estilos generales */
.navBarContainer {
  width: 100%;
}

.topBar {
  background-color: #f6921e; /* Color de fondo naranja */
  color: white; /* Color del texto */
  display: flex; /* Utiliza Flexbox para organizar los elementos */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  padding: 10px 20px; /* Espaciado interno */
  position: fixed; /* Fija la barra en la parte superior */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
  align-items: center; /* Centra verticalmente los elementos */
}

.socialIcons {
  display: flex;
  gap: 10px; /* Espacio entre íconos */
}

.contactInfo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilos para el contenedor naranja de información de contacto */
.NavBarcontactContainer {
  background-color: #f6921e; /* Color naranja */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Estilos cuando se hace scroll */
.NavBarcontactContainerOnScroll {
  background-color: rgba(246, 146, 30, 0.9); /* Fondo con opacidad al hacer scroll */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

/* NavBar principal */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: fixed; /* Fija el NavBar en la pantalla */
  top: 50px; /* Ajusta el espacio para que no se solape con el contenedor naranja */
  width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

/* Estilo para el NavBar flotante (cuando está abierto) */
.navOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: fixed; /* Fija el NavBar en la pantalla */
  width: 25%; /* Asegura que ocupe todo el ancho de la ventana */
  height: auto; /* Ajusta la altura automáticamente */
  top: 50px; /* Ajusta el espacio para que no se solape con el contenedor naranja */
  right: 0; /* Asegura que esté alineado a la izquierda */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  border-radius: 8px; /* Bordes redondeados opcionales */
  padding: 10px; /* Ajusta el padding según sea necesario */
}

/* Estilo cuando el NavBar está en scroll */
.navOnScroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo con opacidad para la nav bar cuando se hace scroll */
  position: fixed; /* Fija el NavBar en la pantalla */
  top: 50px; /* Ajusta el espacio para que no se solape con el contenedor naranja */
  width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Ajusta el tamaño del logo aquí */
  height: auto;
}

.logoText {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #000;
}

.logoSubtext {
  font-size: 14px;
  color: gray;
}

.linksContainer {
  display: flex;
  /* Muestra los enlaces en una fila horizontal */
  flex-direction: row;
  gap: 15px; /* Espacio entre los enlaces */
  align-items: center;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 18px; /* Tamaño de fuente ajustado */
}

.navButton {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px; /* Tamaño de fuente ajustado */
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}

.navButton:hover {
  background-color: #f0a532;
  color: white;
}

.border {
  height: 2px;
  /* background-color: black; */
}

.contactLinkContainer {
  display: flex;
  align-items: center;
}

.contactButton {
  background: linear-gradient(135deg, #3FB2A9 0%, #00A498 100%); /* Gradiente inicial */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease; /* Agrega transición para la transformación */
}

.contactButton:hover {
  background: linear-gradient(45deg, #00A498, #3FB2A9); /* Gradiente en hover */
  transform: scale(1.1); /* Escala al 110% de su tamaño original */
}

.socialButton {
  color: #f1f1f1; /* Color inicial del ícono */
  transition: color 0.3s ease-in-out; /* Animación suave */
}

.socialButton:hover {
  color: #3FB2A9; /* Cambia este color al que prefieras */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del ícono */
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding: 15px; /* Ajusta el padding para dispositivos móviles */
  }

  .contactInfo {
    display: none; /* Oculta la información de contacto en dispositivos móviles */
  }

  .socialIcons {
    width: 100%; /* Asegura que ocupe todo el ancho en móviles */
    justify-content: flex-start; /* Alinea los íconos a la izquierda */
    margin-top: -4px; /* Espacio superior en dispositivos móviles */
    gap: 10px; /* Aumenta el espacio entre íconos para mejor separación */
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .NavBarcontactContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .contactText {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    width: 150px; /* Ajusta el tamaño del logo en móviles */
  }

  .linksContainer {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .navLink {
    font-size: 24px; /* Ajusta el tamaño de fuente en móviles */
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }

  .navButton {
    font-size: 28px; /* Ajusta el tamaño del botón en móviles */
  }

  .contactButton {
    width: 100%;
    font-size: 20px;
    padding: 12px;
  }

  .contactLinkContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
