/* Estilos generales */
.navBarContainer {
  width: 100%;
}

.topBar {
  background-color: #f6921e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  align-items: center;
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.contactInfo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilos específicos para cada parte de la información de contacto */
.phoneNumber {
  font-family: 'YourPhoneNumberFont', sans-serif;
}

.emailAddress {
  font-family: 'YourEmailFont', sans-serif;
}

.addressInfo {
  font-family: 'YourAddressFont', sans-serif;
}

/* Estilos para el contenedor naranja de información de contacto */
.NavBarcontactContainer {
  background-color: #f6921e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.NavBarcontactContainerOnScroll {
  background-color: rgba(246, 146, 30, 0.9);
  transition: background-color 0.3s ease;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 25%;
  height: auto;
  top: 50px;
  right: 0;
  z-index: 1000;
  border-radius: 8px;
  padding: 10px;
}

.navOnScroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.logoText {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #000;
}

.logoSubtext {
  font-size: 14px;
  color: gray;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.navButton {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}

.navButton:hover {
  background-color: #f0a532;
  color: white;
}

.border {
  height: 2px;
}

.contactLinkContainer {
  display: flex;
  align-items: center;
}

.contactButton {
  background: linear-gradient(135deg, #3FB2A9 0%, #00A498 100%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.contactButton:hover {
  background: linear-gradient(45deg, #00A498, #3FB2A9);
  transform: scale(1.1);
}

.socialButton {
  color: #f1f1f1;
  transition: color 0.3s ease-in-out;
}

.socialButton:hover {
  color: #3FB2A9;
  transform: scale(1.1);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .contactInfo {
    display: none;
  }

  .socialIcons {
    width: 100%;
    justify-content: flex-start;
    margin-top: -4px;
    gap: 10px;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .NavBarcontactContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .contactText {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    width: 150px;
  }

  .linksContainer {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .navLink {
    font-size: 24px;
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }

  .navButton {
    font-size: 28px;
  }

  .contactButton {
    width: 100%;
    font-size: 20px;
    padding: 12px;
  }

  .contactLinkContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
