@font-face {
  font-family: 'MyFont1';
  src: url('./assets/fonts/losta-masta-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFont2';
  src: url('./assets/fonts/moon-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont4';
  src: url('./assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('truetype');
}

.fontFamily-MyFont4 {
  font-family: 'MyFont4', sans-serif;
}

.fontFamily-MyFont2 {
  font-family: 'MyFont2', sans-serif;
}

@font-face {
  font-family: 'MyFont3';
  src: url('./assets/fonts/Daily Challenge DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.fontFamily-MyFont3 {
  font-family: 'MyFont3', sans-serif;
}

.serviceTitle {
  text-align: center;
  display: block;
  width: 100%;
}

.serviceContainer {
  transition: all 0.3s ease;
}

.serviceContainer:hover {
  background: linear-gradient(135deg, #f9d423 0%, #ff4e50 100%);
  border: 2px solid #4a90e2; /* Color del borde al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  border-radius: 10px; /* Radio de borde si quieres bordes redondeados */
}

.bg-green {
  background-color: #d1e7dd; /* Ajusta el color de fondo según tu diseño */
}

.btnGradient {
  background: linear-gradient(135deg, #f9d423 0%, #ff4e50 100%);
  color: white; /* Color del texto */
  transition: background 0.3s ease, transform 0.3s ease; /* Transiciones suaves para el fondo y el tamaño */
  border: none;
  border-radius: 5px; /* Bordes redondeados para el botón */
  padding: 10px 20px; /* Espaciado interno */
}

.btnGradient:hover {
  background: linear-gradient(135deg, #ff4e50 0%, #f9d423 100%);
  transform: scale(1.05); /* Efecto de zoom suave al pasar el mouse */
}

/* Estilos responsivos */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .App {
    padding: 0 10px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .serviceContainer {
    padding: 10px;
    margin: 10px 0;
  }
  
  .btnGradient {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }
}
.fontFamily-MyFont1 {
  font-family: 'MyFont', sans-serif; /* Ajusta la fuente si es necesario */
  font-weight: normal; /* Asegúrate de que el peso de la fuente sea normal */
}


@media (max-width: 480px) {
  .App {
    padding: 0 5px;
  }
  
  nav {
    display: none; /* Ejemplo de ajuste para un menú colapsable */
    position: fixed;
  }
  
  .serviceContainer {
    padding: 8px;
    margin: 8px 0;
  }
  
  .btnGradient {
    padding: 12px;
    font-size: 0.9rem;
  }
}

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
